<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/patient.css') }}" />
</head>

<body>

    <div class="container">
        <div class="left-side"></div>
        <div class="right-side">
            <form id="loginForm" action="/login" method="post">
                <h2>Patient Login</h2>
                <div class="input-group">
                    <label for="patientId">Patient ID</label>
                    <input type="text" id="patientId" name="username" autofocus required />
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required />
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="alert alert-danger">
                    {% for category, message in messages %}
                    {{ message }}
                    {% endfor %}

                </div>
                {% endif %}
                {% endwith %}
                <button type="submit">Login</button>
                <a href="/register" class="register-link">Don't have an account? Register here</a>
                <div id="message"></div>
            </form>
        </div>
    </div>
</body>

</html>